@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
.heroImage {
    height:100vh;
    background-image: url("https://cdn.shopify.com/s/files/1/0726/1221/7115/files/ecom-no-replace-ntF5oAW6gKbg-hr-cf-2.png?v=1723535496");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.font {
    font-family: "Sansita Swashed", system-ui;
    font-weight: 800;
}

.glass {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.backdrop {
    /* height: 50vh; */
    background-image: url("https://cdn.shopify.com/s/files/1/0726/1221/7115/files/ecom-no-replace-zSC8iI2KfFbg-reviews.jpg?v=1723628148");
    background-position: center;
    background-size: cover;
}

.borderCross:last-child {
    border: none;
}
